<a href="https://colab.research.google.com/github/jennastinks/Python-Projects/blob/main/python_ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Exercises 2

## Exercise 1: Defining Functions
### Task:
Write a function called `greet` that takes a name as a parameter and returns "Hello, Yourname!".

In [ ]:
def greet(name):
    return f"Hello, {name}"
print(greet("Yourname!"))

Hello, Yourname!

## Exercise 2: Function with Default Parameter
### Task:
Write a function `power` that takes two arguments: a base and an exponent (default to 2). It should return the base raised to the exponent.

In [ ]:
def power(base, exponent):
  answer = base**exponent
  return answer
print(power(2, 3))

8

## Exercise 3: List Operations
### Task:
Create a list of five numbers. Write a loop to print each number in the list.

In [ ]:
numbers = (1,2,3,4,5)
for i in numbers:
    print(i)

1
2
3
4
5


## Exercise 4: List Modification
### Task:
Write a function that takes a list and returns a new list with each element squared.

In [ ]:
input_list = (1,2,3,4,5)
def list_func(input_list):
  return [x ** 2 for x in input_list]

list_func(input_list)

[1, 4, 9, 16, 25]

## Exercise 5: Looping through a Dictionary
### Task:
Create a dictionary with three key-value pairs representing a student's name, age, and grade. Write a loop to print each key and its corresponding value.

In [ ]:
student = {"name": "Alice", "age" : "20", "grade" : "A"}
print(student)
print(student["name"])
print(student["age"])
print(student["grade"])

{'name': 'Alice', 'age': '20', 'grade': 'A'}
Alice
20
A

## Exercise 6: Nested Loops
### Task:
Write a function that generates a multiplication table for numbers 1 through 5 using nested loops.

In [8]:
def table():
  for i in range (1,6):
    for j in range (1,6):
              print(f"({i}, {j})", end=" ")
  print()

table()

(1, 1) (1, 2) (1, 3) (1, 4) (1, 5) (2, 1) (2, 2) (2, 3) (2, 4) (2, 5) (3, 1) (3, 2) (3, 3) (3, 4) (3, 5) (4, 1) (4, 2) (4, 3) (4, 4) (4, 5) (5, 1) (5, 2) (5, 3) (5, 4) (5, 5)

## Exercise 7: Filtering a List
### Task:
Write a function that takes a list of numbers and returns a new list containing only even numbers.

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

res = list(filter(lambda val: val % 2 == 0, a))

print(res)

[2, 4, 6, 8, 10]